<div class="swiper mySwiper crew-swiper">
  <div class="swiper-wrapper crew-swiper__wrapper">
    <div class="swiper-slide crew-swiper__slide">
      <div class="crew-swiper__content">
        <h1 class="content__title-main">
          <span class="content__number">01</span>
          Pick your destination
        </h1>

        <h3 class="crew-swiper__subtitle">Flight Engineer</h3>
        <h2 class="crew-swiper__title">Anousheh Ansari</h2>
        <p class="destination__text">
          Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth
          self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.
        </p>
      </div>
      <div class="crew-swiper__picture">
        <img src="../../assets/images/crew/image-anousheh-ansari.webp" alt="" class="crew-swiper__image">
      </div>

    </div>
    <div class="swiper-slide crew-swiper__slide">Slide 2</div>
    <div class="swiper-slide crew-swiper__slide">Slide 3</div>
    <div class="swiper-slide crew-swiper__slide">Slide 4</div>
    <div class="swiper-slide crew-swiper__slide">Slide 5</div>
  </div>
  <div class="swiper-pagination crew-swiper__pagination"></div>
</div>