<h1 class="content__title-main crew__title-main">
  <span class="content__number">01</span>
  Meet your crew
</h1>

<div class="swiper crew-swiper">
  <div class="swiper-wrapper crew-swiper__wrapper">

    <!-- <div class="swiper-slide crew-swiper__slide">
      <div class="crew-swiper__slide-wrapper">
        <div class="crew-swiper__content">
          <h3 class="crew-swiper__subtitle">Commander</h3>
          <h2 class="crew-swiper__title">Douglas Hurley</h2>
          <p class="destination__text crew-swiper__text">
            Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He
            launched into space for the third time as commander of Crew Dragon Demo-2.
          </p>
        </div>
        <div class="crew-swiper__picture">
          <img src="../../assets/images/crew/image-douglas-hurley.webp" alt="" class="crew-swiper__image">
        </div>
      </div>
    </div>

    <div class="swiper-slide crew-swiper__slide">
      <div class="crew-swiper__slide-wrapper">
        <div class="crew-swiper__content">
          <h3 class="crew-swiper__subtitle">Commander</h3>
          <h2 class="crew-swiper__title">Douglas Hurley</h2>
          <p class="destination__text crew-swiper__text">
            Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He
            launched into space for the third time as commander of Crew Dragon Demo-2.
          </p>
        </div>
        <div class="crew-swiper__picture">
          <img src="../../assets/images/crew/image-anousheh-ansari.webp" alt="" class="crew-swiper__image">
        </div>
      </div>
    </div>
    <div class="swiper-slide crew-swiper__slide">
      <div class="crew-swiper__slide-wrapper">
        <div class="crew-swiper__content">
          <h3 class="crew-swiper__subtitle">Commander</h3>
          <h2 class="crew-swiper__title">Douglas Hurley</h2>
          <p class="destination__text crew-swiper__text">
            Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He
            launched into space for the third time as commander of Crew Dragon Demo-2.
          </p>
        </div>
        <div class="crew-swiper__picture">
          <img src="../../assets/images/crew/image-victor-glover.webp" alt="" class="crew-swiper__image">
        </div>
      </div>
    </div>
    <div class="swiper-slide crew-swiper__slide">
      <div class="crew-swiper__slide-wrapper">
        <div class="crew-swiper__content">
          <h3 class="crew-swiper__subtitle">Commander</h3>
          <h2 class="crew-swiper__title">Douglas Hurley</h2>
          <p class="destination__text crew-swiper__text">
            Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He
            launched into space for the third time as commander of Crew Dragon Demo-2.
          </p>
        </div>
        <div class="crew-swiper__picture">
          <img src="../../assets/images/crew/image-mark-shuttleworth.webp" alt="" class="crew-swiper__image">
        </div>
      </div>
    </div> -->

  </div>
  <!-- <div class="swiper-pagination crew-swiper__pagination"></div> -->
</div>