<main class="destination__main">
  <div class="destination__planet">
    <h1 class="destination__title-main">
      <span class="destination__number">01</span>
      Pick your destination
    </h1>
    <div class="destination__image-wrapper">
      <img src="../../assets/images/destination/image-moon.webp" alt="" class="destination__image">

    </div>
  </div>

  <div class="destination__content">
    <ul class="tabs destination__tabs">
      <li class="tabs__items tabs__items--active">
        MOON
      </li>
      <li class="tabs__items">
        MARS
      </li>
      <li class="tabs__items">
        EUROPA
      </li>
      <li class="tabs__items">
        TITAN
      </li>
    </ul>
    <div class="destination__description">
      <h2 class="destination__title-planet">Moon</h2>
      <p class="destination__text">
        See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come
        back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
      </p>
    </div>
    <div class="destination__info">
      <div class="destination__item">
        <span class="destination__subtitle">
          AVG. DISTANCE
        </span>
        <span class="destination__value">
          384,400 km
        </span>
      </div>
      <div class="destination__item">
        <span class="destination__subtitle">
          Est. travel time
        </span>
        <span class="destination__value">
          3 days
        </span>
      </div>
    </div>
  </div>

</main>