<header class="header">
  <a href="/" class="header__logo logo">
    <img src="./assets/images/logo.svg" alt="Logo" class="logo__image">
  </a>

  <div class="header__burger burger">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
  </div>
  <nav class="header__navigation">
    <ul class="header__list">
      <li class="header__item">
        <a href="/" class="header__link header__link--active"><span class="header__link-number">00</span> Home</a>
      </li>
      <li class="header__item"><a href="../../destination.html" class="header__link">
          <span class="header__link-number">01</span> Destination</a>
      </li>
      <li class="header__item"><a href="#" class="header__link">
          <span class="header__link-number">02</span> Crew</a>
      </li>
      <li class="header__item"><a href="#" class="header__link">
          <span class="header__link-number">03</span> Technology</a>
      </li>
    </ul>
  </nav>
</header>