<main class="homepage__main">
  <div class="homepage__content">
    <h1 class="homepage__heading">
      <span class="homepage__subtitle">So, you want to travel to</span>
      <span class="homepage__title">space</span>
    </h1>
    <p class="homepage__description">Let’s face it; if you want to go to space, you might as well genuinely go to outer
      space
      and
      not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world
      experience!</p>
  </div>

  <div class="homepage__cta">

    <a class="homepage__link" href="./destination.html">
      <div class="homepage__link-inner">
        <span class="homepage__link-text">Explore</span>
      </div>
    </a>
  </div>
</main>