<div class="tech__wrapper">

  <h1 class="content__title-main tech__title-main">
    <span class="content__number">01</span>
    Pick your destination
  </h1>

  <div class="tech__pagination-wrapper">
    <div class="swiper-pagination tech__pagination"></div>
  </div>

  <div class="tech__container">
    <div class="swiper mySwiper tech__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="tech__columns">
            <div class="tech__column tech__description">
              <h3 class="content__subtitle tech__subtitle">THE TERMINOLOGY…</h3>
              <h2 class="tech__title content__title">LAUNCH VEHICLE</h2>

              <p class="content__text tech__text">
                A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
                surface
                to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in
                operation.
                Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!
              </p>
            </div>
            <div class="tech__column tech__picture">
              <picture>
                <source media="(max-width: 980px)"
                  srcset="../../assets/images/technology/image-launch-vehicle-landscape.jpg" />
                <img src="../../assets/images/technology/image-launch-vehicle-portrait.jpg" alt="" class="tech__image">
              </picture>

            </div>
          </div>

        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
    </div>
  </div>

</div>