<div class="tech__wrapper">
  <div class="tech__content content">
    <h1 class="content__title-main tech__title-main">
      <span class="content__number">01</span>
      Pick your destination
    </h1>
    <div class="tech__columns">
      <div class="tech__column">
        <ul class="tech__pagination">
          <li class="tech__pagination-item">
            <span class="tech__pagination-number">
              1
            </span>
          </li>
          <li class="tech__pagination-item">
            <span class="tech__pagination-number">2</span>
          </li>
          <li class="tech__pagination-item">
            <span class="tech__pagination-number">3</span>
          </li>
        </ul>
      </div>
      <div class="tech__column">
        <h3 class="content__subtitle tech__subtitle">THE TERMINOLOGY…</h3>
        <h2 class="tech__title content__title">LAUNCH VEHICLE</h2>

        <p class="content__text">
          A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
          surface
          to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation.
          Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!
        </p>
      </div>
    </div>
  </div>
  <div class="tech__picture">
    <img src="../../assets/images/technology/image-launch-vehicle-portrait.jpg" alt="" class="tech__image">
  </div>
</div>