* {
  color: $white;
}

body {
  background-color: $black;
}

body {
  font-family: $Barlow;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $Barlow-Cond;
}

p {
  color: $blue;
  font-family: $Barlow;
  font-size: to.rem(18px);
  line-height: to.rem(32px);
}

.container {
  max-width: to.rem(1110px);
  margin: 0 auto;

  @media (max-width: to.rem(920px)) {
    padding: to.rem(0 39px);
  }
  @media (max-width: to.rem(620px)) {
    padding: to.rem(0 24px);
  }
}

.display-none {
  display: none;
}
