.content {
  &__title-main {
    color: $white;
    font-family: $Barlow-Cond;
    font-size: to.rem(28px);
    font-weight: 400;
    letter-spacing: to.rem(4.725px);
    text-transform: uppercase;
  }
  &__number {
    padding-right: to.rem(15px);
    font-weight: 700;
    opacity: 0.25;
  }
  &__subtitle {
    color: $blue;
    font-family: $Barlow-Cond;
    font-size: to.rem(16px);
    letter-spacing: to.rem(2.7px);
  }
  &__title {
    color: $white;
    font-family: $Bellefair;
    font-size: to.rem(56px);
  }
  &__text {
    color: $blue;
    font-family: $Barlow;
    font-size: to.rem(18px);
    line-height: to.rem(32px);
    max-width: to.rem(444px);
  }

  @media (max-width: to.rem(768px)) {
    &__title-main {
      font-size: to.rem(20px);
      letter-spacing: 3.375px;
    }

    &__number {
      padding-right: to.rem(9px);
    }
  }

  @media (max-width: to.rem(768px)) {
    &__title-main {
      font-size: to.rem(16px);
      letter-spacing: to.rem(2.7px);
    }
  }
}
