.crew {
  background-image: url("../images/destination/background-destination-desktop.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  &__container {
    width: 100%;
    flex: 1;
  }

  &__wrapper-inner {
    padding-top: to.rem(76px);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__number {
    padding-right: to.rem(11px);
  }

  &__title {
    font-family: Bellefair;
    font-size: to.rem(56px);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: to.rem(32px);
    opacity: 0.5042;
    padding-bottom: to.rem(14px);
    display: inline-block;
  }

  &__description {
    width: to.rem(444px);
    line-height: to.rem(32px);
    padding-top: to.rem(26px);
  }

  &__slide-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content-wrapper {
    padding-top: to.rem(134px);
  }
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__picture {
    max-height: to.rem(654px);
  }
  &__pagination {
    text-align: left;
    bottom: to.rem(94px);
  }
  &__pagination.swiper-pagination-horizontal {
    bottom: to.rem(94px);
  }
  &__pagination-item {
    height: to.rem(15px);
    width: to.rem(15px);
    background-color: $white;
    opacity: 0.1744;
  }

  &__pagination-item.swiper-pagination-bullet:nth-child(1) {
    margin-left: to.rem(1px);
  }

  &__pagination-item.swiper-pagination-bullet {
    margin-right: to.rem(20px) !important;
  }

  &__pagination-item.swiper-pagination-bullet-active {
    opacity: 1;
  }

  @media (min-width: to.rem(960px)) and (max-height: to.rem(800px)) {
    &__pagination.swiper-pagination-horizontal {
      bottom: to.rem(15px);
    }
  }

  @media (max-width: to.rem(1110px)) {
    &__wrapper-inner {
      padding: to.rem(0 39px);
    }
  }

  @media (max-width: to.rem(1000px)) {
    &__wrapper-inner {
      padding-top: to.rem(40px);
    }
    &__title-main {
      letter-spacing: to.rem(3.375px);
      font-size: to.rem(20px);
    }
    &__number {
      padding-right: to.rem(7px);
    }
    &__slide-wrapper {
      padding-top: to.rem(46px);
    }
    &__slide-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__content-wrapper {
      padding-top: 0;
    }
    &__title {
      font-size: to.rem(40px);
      text-align: center;
    }
    &__subtitle {
      font-size: to.rem(24px);
      padding-bottom: to.rem(8px);
    }
    &__description {
      width: 100%;
      max-width: to.rem(520px);
      text-align: center;
      min-height: to.rem(200px);
      font-size: to.rem(16px);
      line-height: to.rem(28px);
      padding-top: to.rem(16px);
    }
    &__picture {
      max-height: to.rem(532px);
    }
    &__pagination.swiper-pagination-horizontal {
      top: to.rem(276px);
      text-align: center;
      height: to.rem(7px);
    }
    &__pagination-item {
      height: to.rem(10px);
      width: to.rem(10px);
    }
    &__pagination-item.swiper-pagination-bullet:nth-child(1) {
      margin-left: 0px;
    }
    &__pagination-item.swiper-pagination-bullet {
      margin: 0 8px !important;
    }
  }

  @media (max-width: to.rem(920px)) {
    background-image: url("../images/destination/background-destination-tablet.jpg");
    background-size: cover;
    &__wrapper-inner {
      padding: to.rem(40px 0 0);
    }
  }

  @media (max-width: to.rem(585px)) {
    background-image: url("../images/destination/background-destination-mobile.jpg");
    background-size: cover;
    &__wrapper-inner {
      padding-top: to.rem(21px);
    }
    &__title-main {
      text-align: center;
      font-size: to.rem(16px);
      letter-spacing: to.rem(2.7px);
    }
    &__slide-wrapper {
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: to.rem(32px);
      gap: to.rem(68px);
    }
    &__subtitle {
      font-size: to.rem(16px);
    }
    &__title {
      font-size: to.rem(24px);
    }
    &__description {
      font-size: to.rem(15px);
      line-height: to.rem(25px);
    }
    &__image {
      width: 100%;
      max-height: to.rem(223px);
      border-bottom: 1px solid #979797;
    }
    &__picture {
      max-height: to.rem(223px);
      object-fit: contain;
    }

    &__pagination.swiper-pagination-horizontal {
      top: to.rem(281px);
      text-align: center;
      height: to.rem(7px);
    }
  }
}
