.crew {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__container {
    width: 100%;
    flex: 1;
  }

  &__wrapper-inner {
    display: flex;
    flex-direction: column;
    padding-top: to.rem(76px);
    height: 100%;
  }

  &__title-main {
  }

  &__title {
    font-family: Bellefair;
    font-size: to.rem(56px);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: to.rem(32px);
    opacity: 0.5042;
    padding-bottom: to.rem(14px);
    display: inline-block;
  }

  &__description {
    width: to.rem(444px);
    line-height: to.rem(32px);
    padding-top: to.rem(26px);
  }

  &__swiper {
  }

  &__swiper-swiper {
  }

  &__slide {
  }

  &__slide-wrapper {
    position: relative;
    padding-top: to.rem(134px);
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__pagination {
    text-align: left;
    bottom: to.rem(94px);
  }
  &__pagination.swiper-pagination-horizontal {
    bottom: to.rem(94px);
  }
  &__pagination-item {
    height: to.rem(15px);
    width: to.rem(15px);
    background-color: $white;
    opacity: 0.1744;
  }

  &__pagination-item.swiper-pagination-bullet:nth-child(1) {
    margin-left: 1px;
  }

  &__pagination-item.swiper-pagination-bullet {
    margin-right: 20px !important;
  }

  &__pagination-item.swiper-pagination-bullet-active {
    opacity: 1;
  }
}
