.destination {
  min-height: 100vh;
  background-image: url("../images/destination/background-destination-desktop.jpg");
  background-size: cover;
  overflow: hidden;

  &__main {
    padding: to.rem(76px 15px 0);
    display: flex;
    gap: to.rem(157px);
  }

  // &__title-main {
  //   color: $white;
  //   font-family: $Barlow-Cond;
  //   font-size: to.rem(28px);
  //   font-weight: 400;
  //   letter-spacing: to.rem(4.725px);
  //   text-transform: uppercase;
  // }

  &__number {
    font-weight: 700;
    opacity: 0.25;
  }

  &__image-wrapper {
    padding: to.rem(97px 0 0 64px);
  }

  &__image {
    width: to.rem(445px);
    height: to.rem(445px);
    max-inline-size: fit-content;
  }

  &__title-planet {
    padding: to.rem(27px 0 10px);
    font-family: $Bellefair;
    font-size: to.rem(100px);
    text-transform: uppercase;
  }

  &__text {
    padding-bottom: to.rem(49px);
    font-family: $Barlow;
    font-size: to.rem(18px);
    line-height: to.rem(32px);
  }

  &__info {
    display: flex;
    gap: to.rem(68px);
    width: 100%;
    padding-top: 28px;
    border-top: 1px solid $black-l;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    padding-bottom: to.rem(12px);
    color: $blue;
    font-family: $Barlow-Cond;
    font-size: to.rem(14px);
    letter-spacing: to.rem(2.362px);
    text-transform: uppercase;
  }

  &__value {
    font-family: $Bellefair;
    font-size: to.rem(28px);
    text-transform: uppercase;
  }

  @media (max-width: to.rem(1060px)) {
    &__main {
      gap: to.rem(110px);
    }
    &__image-wrapper {
      padding: to.rem(97px 0 0 0);
    }
  }

  @media (max-width: to.rem(920px)) {
    &__main {
      padding: to.rem(46px 15px 0);
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image-wrapper {
      text-align: center;
      padding: to.rem(53px 0 0 0);
    }

    &__title-planet {
      text-align: center;
    }

    &__text {
      max-width: to.rem(580px);
      text-align: center;
    }

    &__info {
      max-width: to.rem(580px);
      justify-content: center;
      gap: to.rem(120px);
      padding-bottom: to.rem(60px);
    }

    &__item {
      align-items: center;
    }

    &__image {
      width: to.rem(300px);
      height: to.rem(300px);
    }
  }

  @media (max-width: to.rem(920px)) {
    &__info {
      flex-direction: column;
      gap: to.rem(32px);
    }
  }

  @media (max-width: to.rem(560px)) {
    &__title-main {
      text-align: center;
    }
  }
}
