.homepage {
  min-height: 100vh;
  background-image: url("../images/home/background-home-desktop.jpg");
  background-size: cover;
  overflow: hidden;

  &__main {
    display: flex;
    justify-content: space-between;
    padding-top: to.rem(257px);
  }

  &__content {
    max-width: to.rem(450px);
  }

  &__heading {
    padding-bottom: to.rem(16px);
  }

  &__title {
    color: $white;
    font-family: $Bellefair;
    font-size: to.rem(150px);
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    padding-bottom: to.rem(20px);
    font-family: $Barlow-Cond;
    font-size: to.rem(28px);
    color: $blue;
    letter-spacing: to.rem(4.725px);
    text-transform: uppercase;
  }

  &__cta {
    position: relative;
  }

  &__link {
    position: absolute;
    right: to.rem(-88px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: to.rem(450px);
    height: to.rem(450px);
    border-radius: to.rem(450px);
    background-color: hsla(0, 0%, 100%, 0);
  }

  &__link:hover {
    background-color: hsla(0, 0%, 100%, 0.137);
  }

  &__link-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: to.rem(274px);
    height: to.rem(274px);
    border-radius: to.rem(274px);
    background: $white;
  }

  &__link-text {
    font-family: $Bellefair;
    font-size: to.rem(32px);
    color: $black;
    letter-spacing: to.rem(2px);
  }
}
