.homepage {
  min-height: 100vh;
  background-image: url("../images/home/background-home-desktop.jpg");
  background-size: cover;
  overflow: hidden;

  &__main {
    display: flex;
    justify-content: space-between;
    padding-top: to.rem(257px);
  }

  &__content {
    max-width: to.rem(450px);
  }

  &__heading {
    padding-bottom: to.rem(16px);
  }

  &__title {
    color: $white;
    font-family: $Bellefair;
    font-size: to.rem(150px);
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    padding-bottom: to.rem(20px);
    font-family: $Barlow-Cond;
    font-size: to.rem(28px);
    color: $blue;
    letter-spacing: to.rem(4.725px);
    text-transform: uppercase;
  }

  &__cta {
    position: relative;
  }

  &__link {
    position: absolute;
    right: to.rem(-88px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: to.rem(450px);
    height: to.rem(450px);
    border-radius: to.rem(450px);
    background-color: hsla(0, 0%, 100%, 0);
  }

  &__link:hover {
    background-color: hsla(0, 0%, 100%, 0.137);
  }

  &__link-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: to.rem(274px);
    height: to.rem(274px);
    border-radius: to.rem(274px);
    background: $white;
  }

  &__link-text {
    font-family: $Bellefair;
    font-size: to.rem(32px);
    color: $black;
    letter-spacing: to.rem(2px);
  }

  @media (max-width: to.rem(1100px)) {
    &__main {
      padding: to.rem(257px 15px 0);
    }
  }

  @media (max-width: to.rem(950px)) {
    &__main {
      padding: to.rem(106px 15px 0);
    }
  }

  @media (max-width: to.rem(768px)) {
    background-image: url("../images/home/background-home-tablet.jpg");

    &__main {
      // padding: to.rem(106px 15px 0);
      flex-direction: column;
      align-items: center;
      gap: to.rem(156px);
      overflow: visible;
      overflow-x: hidden;
    }

    &__subtitle {
      text-align: center;
      font-size: to.rem(20px);
    }

    &__description {
      text-align: center;
    }

    &__link-inner {
      width: to.rem(242px);
      height: to.rem(242px);
    }

    &__link {
      position: static;
      width: to.rem(242px);
      height: to.rem(242px);
      border-radius: to.rem(274px);
      background: $white;
    }

    &__link:hover {
      background: $white;
    }
  }

  @media (max-width: to.rem(480px)) {
    background-image: url("../images/home/background-home-mobile.jpg");

    &__main {
      padding: to.rem(48px 15px 0);
      gap: to.rem(81px);
    }

    &__heading {
      text-align: center;
    }
    &__subtitle {
      font-size: to.rem(16px);
    }
    &__title {
      font-size: to.rem(80px);
      text-align: center;
    }

    &__description {
      font-size: to.rem(15px);
    }

    &__link-inner {
      width: to.rem(150px);
      height: to.rem(150px);
    }

    &__link {
      width: to.rem(150px);
      height: to.rem(150px);
      border-radius: to.rem(274px);
      background: $white;
    }

    &__link:hover {
      background: $white;
    }
  }
}
