.tabs {
  display: flex;
  gap: to.rem(33px);
  padding-top: to.rem(98px);

  &__items {
    font-family: $Barlow-Cond;
    font-size: to.rem(16px);
    font-weight: 400;
    letter-spacing: to.rem(2.7px);
    cursor: pointer;
  }

  &__items:hover,
  &__items--active {
    padding-bottom: to.rem(12px);
    border-bottom: solid to.rem(3px) $white;
  }

  @media (max-width: to.rem(920px)) {
    padding-top: to.rem(53px);
    justify-content: center;
  }

  @media (max-width: to.rem(560px)) {
    &__items {
      font-size: to.rem(14px);
    }
  }
}
